# Database connection string (PostgreSQL)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/shiasi_db?schema=public&connection_limit=10&pool_timeout=20"

# NextAuth Configuration
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="shiasi-secret-key-change-this-in-production-1403"

# Payment Gateway (ZarinPal)
ZARINPAL_MERCHANT_ID="00000000-0000-0000-0000-000000000000"

# SMS Gateway (KavehNegar / FarazSMS)
SMS_API_KEY="your-sms-api-key"
SMS_LINE_NUMBER="1000..."

# Store Settings
NEXT_PUBLIC_STORE_NAME="فروشگاه شیاسی"
NEXT_PUBLIC_STORE_SLOGAN="مرکز تخصصی پخش لوازم برقی، خانگی و کارگاه فنی در نجف‌آباد و اصفهان"
NEXT_PUBLIC_STORE_CITY="نجف‌آباد"
NEXT_PUBLIC_STORE_ADDRESS="اصفهان، نجف‌آباد، ۱۵ خرداد مرکزی، نبش بن‌بست نرگس (فروشگاه شیاسی)"
NEXT_PUBLIC_STORE_PHONE="03142626116"
NEXT_PUBLIC_STORE_PHONE_ALT="03142626107"
NEXT_PUBLIC_STORE_MOBILE="09136260072"
NEXT_PUBLIC_STORE_WHATSAPP="989136260072"
NEXT_PUBLIC_STORE_MAPS_URL="https://maps.app.goo.gl/cXf7MouMBVSPUKDo9"
NEXT_PUBLIC_STORE_NESHAN_URL="https://neshan.org/maps/places/vbZnI32x4clP"
NEXT_PUBLIC_STORE_BALAD_URL="https://balad.ir/location?latitude=32.6365457&longitude=51.3551911"

# App URL
NEXT_PUBLIC_APP_URL="http://localhost:3000"
