# Database connection string
DATABASE_URL="file:./dev.db"

# Store Settings
NEXT_PUBLIC_STORE_NAME="کالای برق و الکترونیک نقش جهان اصفهان"
NEXT_PUBLIC_STORE_SLOGAN="تخصصی‌ترین مرکز تامین تجهیزات برقی ساختمانی، صنعتی و بردهای الکترونیک در استان اصفهان"
NEXT_PUBLIC_STORE_CITY="اصفهان"
NEXT_PUBLIC_STORE_ADDRESS="اصفهان، خیابان فردوسی، نرسیده به چهارراه فلسطین، پلاک ۱۲۸"
NEXT_PUBLIC_STORE_PHONE="03132204567"
NEXT_PUBLIC_STORE_MOBILE="09131112233"
NEXT_PUBLIC_STORE_WHATSAPP="989131112233"
NEXT_PUBLIC_STORE_EITAA="naghshejahan_bargh"

# App URL
NEXT_PUBLIC_APP_URL="http://localhost:3000"
